@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #00000000;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: rgb(203 213 225 / var(--tw-bg-opacity));
        border-radius: 100vh;
    }

        .scrollbar::-webkit-scrollbar-thumb:hover {
            background: rgb(148 163 184 / var(--tw-bg-opacity));
        }
}


.max-h-80vh {
    max-height: 80vh;
}