@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<PageTitle>Todo.WebUi</PageTitle>

<div class="flex flex-col  w-screen h-screen bg-grey-900 ">

    <div class="w-full bg-grey-900 text-gray-200 shadow-xl border-b-1 border-grey-900 ring-1 ring-grey-100 ">
        <div class="mx-auto flex max-w-screen-xl flex-col px-4 sm:flex-row sm:items-center sm:justify-between sm:px-6 lg:px-8">
            <div class="flex flex-row items-center justify-between p-4">
                <a href="/" class="rounded-lg text-lg font-semibold uppercase tracking-widest text-white transition-colors hover:text-gray-300">Todo</a>
                <button class="focus:shadow-outline rounded-lg focus:outline-none sm:hidden" @onclick="ToggleOpen">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="h-6 w-6">
                        @if (!open)
                        {
                            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                        }
                        else
                        {
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 			    1 0 010-1.414z" clip-rule="evenodd"></path>
                        }
                    </svg>
                </button>
            </div>
            <nav class="@(open ? "flex flex-col pb-4 sm:flex sm:flex-row gap-1 sm:justify-end sm:pb-0" : "xs:hidden sm:inline-block gap-1")">
                <NavLink ActiveClass="bg-grey-400" Match="NavLinkMatch.All" class="focus:bg-grey-400 focus:shadow-outline mt-2 rounded-lg px-4 py-2 text-sm font-semibold hover:bg-grey-600 hover:text-gray-300 focus:text-gray-50 focus:outline-none md:ml-4 md:mt-0" href="/completed">Completed</NavLink>
                <NavLink ActiveClass="bg-grey-400" Match="NavLinkMatch.All" class="focus:bg-grey-400 focus:shadow-outline mt-2 rounded-lg px-4 py-2 text-sm font-semibold hover:bg-grey-600 hover:text-gray-300 focus:text-gray-50 focus:outline-none md:ml-4 md:mt-0" href="/categories">Categories</NavLink>
            </nav>
        </div>
    </div>

    <div class="flex overflow-hidden flex-col h-screen place-content-center place-items-center">
        @Body
    </div>
</div>

@code{
    private bool open = false;
    private void ToggleOpen()
    {
        open = !open;
    }
}